body {
  font-family: 'Nunito', sans-serif;
}

.movie-slider .swiper {
  width: 100%;
  height: 100%;
}

.movie-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
